In [17]:
#Q1 How can we store a single quote (‘) as a string 1n a variable?

#Answer:
    
single_quote = 'Ram & shyam'
print(single_quote)

Ram & shyam

In [15]:
#Q2. Refer the below variable.
# x = ‘a'
# Here, is x a character type or string type variable? Support your answer with an explanation

#Answer

x = 'a'
print(type(x))

<class 'str'>

In [43]:
#Que3 Apply the following functions on this variable: ‘Welcome to Python foundation course'
#1. find()
#2. count()
#3. len()
#4. Concatenation
#Note: You can use your choice of parameters, But make sure it 1s correct.

#Answer.
#find()
fn='Welcome to phython foundation course'
#find()
w = fn.find('course')
print(w)

30

In [46]:
#count()
w = fn.count('o')
print(w)

6

In [48]:
#len()
w = len(fn)
print(w)

36

In [6]:
#Concatination
fn='Welcome to phython foundation course '
add_text = 'First batch'
CC = fn + add_text
print (CC)

Welcome to phython foundation course First batch

In [15]:
#Q4. For the variable:word = ‘Panaji@12256'
#Calculate the follow1ng:
#(a) Total number of alphabets in lowercase
#(b) Total number of alphabets in uppercase
#(c) Total number of numer1cal in str1ng.

In [18]:
#Answer
word = 'Panaji@12256'

lowercase = sum(1 for char in word if char.islower())
print(f"Total number of lowercase alphabets: {lowercase}")

uppercase = sum(1 for char in word if char.isupper())
print(f"Total number of uppercase alphabets: {uppercase}")

numeric = sum(1 for char in word if char.isdigit())
print(f"Total number of numerical digits: {numeric}")

Total number of lowercase alphabets: 5
Total number of uppercase alphabets: 1
Total number of numerical digits: 5

In [20]:
#Q5. Write a code to store a numerical value inside a variable then convert it into string.

In [22]:
#Answer

numerical_value = 12345

numerical_string = str(numerical_value)

print(f"Type of numerical_value before conversion: {type(numerical_value)}")
print(f"Type of numerical_string after conversion: {type(numerical_string)}")

print(f"Numerical value as string: {numerical_string}")

Type of numerical_value before conversion: <class 'int'>
Type of numerical_string after conversion: <class 'str'>
Numerical value as string: 12345